Odświeżenie informacji z podstaw pandasa i numpy

1. Zaimportuj pakiety pandas, numpy i matplotlib

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

## Numpy

1. Stwórz dziesięcioelementowy wektor składający się wyłącznie z samych zer

In [3]:
np.array([0]*10)
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

2. Stwórz sześcioelementowy wektor składający się z samych jedynek, i zastąp drugi element wartością 4

In [4]:
x = np.ones(6)
x[1] = 4
print(x)

[1. 4. 1. 1. 1. 1.]

3. Stwórz wektor z wartościami od 1 do 15

In [5]:
x = np.arange(1,16)
print(x)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]

4. Odwróć kolejność wektora z zad 3.

In [8]:
print(np.flip(x, axis=0))
# or
print(x[::-1])

[15 14 13 12 11 10  9  8  7  6  5  4  3  2  1]
[15 14 13 12 11 10  9  8  7  6  5  4  3  2  1]

5. Stwórz macierz wartości losowych o wymiarze 10 wierszy x 10 kolumn

In [10]:
m = np.random.rand(10,10)
print(m)

[[0.48453414 0.57334365 0.3283424  0.27949899 0.97063618 0.94845366
  0.72677515 0.67055559 0.91786525 0.2107091 ]
 [0.77453088 0.48991929 0.09206285 0.42071078 0.6549062  0.52098158
  0.40272121 0.16997627 0.4392915  0.07891477]
 [0.89197913 0.67194383 0.90217039 0.18878092 0.36114422 0.42937261
  0.8117704  0.10076451 0.43298836 0.85491223]
 [0.20863884 0.21529996 0.79055935 0.09006292 0.27281901 0.52764711
  0.62891598 0.1613002  0.24957876 0.55358987]
 [0.38818143 0.1460542  0.75060232 0.60342704 0.01702806 0.31632383
  0.1200028  0.62171724 0.07379988 0.35440449]
 [0.79970654 0.73589587 0.90427409 0.30766379 0.52086071 0.65875843
  0.6482157  0.09383298 0.51075111 0.001659  ]
 [0.16577517 0.81528607 0.88092158 0.15748006 0.14794432 0.57229416
  0.06777001 0.96410487 0.83595192 0.52363656]
 [0.00947528 0.63113321 0.53306133 0.13559446 0.00663044 0.62407378
  0.44872607 0.93202351 0.1895721  0.29945836]
 [0.86059768 0.21257594 0.23397297 0.90057781 0.89788052 0.53741081
  0.64174573 0.9638644  0.58435683 0.15230522]
 [0.37661809 0.8482606  0.20802454 0.32793256 0.64590545 0.52528721
  0.86129322 0.99868656 0.55532173 0.94684311]]

6. Jakim wyrażeniem sprawdzisz wymiary macierzy?

In [15]:
m.shape

(10, 10)

7. Stwórz macierz 6x6, wypełnij ją zerami, a diagonalną wypełnij liczbami od 1 do 6

In [27]:
# 1
m = np.zeros((6,6))
np.fill_diagonal(m, np.arange(1,7))
print(m)

# 2
m = np.zeros((6,6))
indeksy_diag = np.diag_indices_from(m) # dla konkretnej macierzy, dla dowolnej - np.diag_indices(6,ndim=2)
m[indeksy_diag] = np.arange(1,7)
print(m)

# 3
print(np.diag(np.arange(1,7))) # tworzy zerową macierz ze zdefiniowaną diagonalną

[[1. 0. 0. 0. 0. 0.]
 [0. 2. 0. 0. 0. 0.]
 [0. 0. 3. 0. 0. 0.]
 [0. 0. 0. 4. 0. 0.]
 [0. 0. 0. 0. 5. 0.]
 [0. 0. 0. 0. 0. 6.]]
[[1. 0. 0. 0. 0. 0.]
 [0. 2. 0. 0. 0. 0.]
 [0. 0. 3. 0. 0. 0.]
 [0. 0. 0. 4. 0. 0.]
 [0. 0. 0. 0. 5. 0.]
 [0. 0. 0. 0. 0. 6.]]
[[1 0 0 0 0 0]
 [0 2 0 0 0 0]
 [0 0 3 0 0 0]
 [0 0 0 4 0 0]
 [0 0 0 0 5 0]
 [0 0 0 0 0 6]]

8. Stwórz losową macierz o wielkości 8x4, i następnie zestandaryzuj jej kolumny (dla każdej zmiennej, dla każdej jej wartości odejmij wartość średnią, i podziel przez odchylenie standardowe)

In [31]:
m = np.random.rand(8,4)
means = np.mean(m, axis=0)
stds = np.std(m, axis=0)

(m-means)/stds

array([[ 1.03403505,  0.0350613 , -0.69019093, -0.81504773],
       [-0.30724484,  0.88770689,  0.43881926, -0.97578384],
       [ 1.40284611,  0.71696198,  1.48498921,  1.35342952],
       [-1.16548543,  1.10462591,  0.72143689,  1.77228916],
       [-0.40897837,  0.91420074, -1.0834495 , -0.03050562],
       [ 1.27631717, -1.54713952, -0.96529725,  0.00642971],
       [-0.78044408, -1.1507589 ,  1.16384197, -0.13067813],
       [-1.0510456 , -0.9606584 , -1.07014965, -1.18013308]])

9. Z losowej macierzy 6x6:
    * wskaż element największy i jego indeks
    * wskaż element najmniejszy i jego indeks

In [39]:
m = np.random.rand(6,6)
print(m)

# max:
print(m.max())
print(np.where(m==m.max())) # or:
print(np.unravel_index(m.argmax(), (6,6)))

# min:
print(m.min())
print(np.where(m==m.min())) # or:
print(np.unravel_index(m.argmin(), (6,6)))

[[0.36923025 0.2452683  0.20066106 0.48503936 0.87910189 0.8677988 ]
 [0.21594978 0.81229303 0.54702743 0.83897409 0.88070077 0.79575614]
 [0.81216528 0.2172456  0.4444656  0.6501464  0.14585791 0.06648835]
 [0.09512169 0.45302953 0.42361323 0.31143509 0.30450155 0.67723643]
 [0.3332301  0.19553368 0.14843975 0.3292855  0.4272359  0.03472479]
 [0.0743259  0.98982769 0.60414597 0.78262245 0.31976085 0.57068486]]
0.9898276898339443
(array([5], dtype=int64), array([1], dtype=int64))
(5, 1)
0.03472479398657491
(array([4], dtype=int64), array([5], dtype=int64))
(4, 5)

10. Wszytkie elementy z wektora [1,0,2,3,4,0,2,0,0,2,0] będące powyżej zera, zastąp jedynką

In [40]:
x = np.array([1,0,2,3,4,0,2,0,0,2,0])
x[x > 0] = 1
print(x)

11. Znajdź niezerowe elementy wektora [0,0,1,2,0,1,13,0,-1].

In [44]:
x = np.array([0,0,1,2,0,1,13,0,-1])
print(x[np.nonzero(x)]) # or
print(x[x!=0])

[ 1  2  1 13 -1]
[ 1  2  1 13 -1]

12. Stwórz losowy wektor 40-elementowy i znajdź jego średnią, medianę, odchylenie standardowe, pierwszy decyl, dziewiąty decyl, kwartyl1 i kwartyl3

In [49]:
x = np.random.rand(40)
print('Srednia: {} \nMediana: {}\nOdch. st: {}\nD1, D9, K1, K3: {}'.format(
    np.mean(x), np.median(x), np.std(x), np.percentile(x, [10, 90, 25, 75])
))

Srednia: 0.4662629831094701
Mediana: 0.45022288731128507
Odch. st: 0.3054802656929429
D1, D9, K1, K3: [0.05656684 0.89547736 0.17170559 0.75249667]

13. Posortuj powyższy wektor

In [52]:
x.sort()
print(x)

[0.00263284 0.01923231 0.05174399 0.05520294 0.05671839 0.11717324
 0.13731207 0.16545614 0.16590958 0.16856701 0.17275178 0.19841595
 0.22989313 0.24915421 0.32554911 0.35231335 0.36414235 0.40771353
 0.42928449 0.4429544  0.45749138 0.48672818 0.48729781 0.51016036
 0.52061492 0.60416717 0.62651338 0.62926582 0.63335807 0.74945137
 0.76163255 0.77105234 0.7921645  0.83029407 0.87774312 0.88991617
 0.94552802 0.97463353 0.99118048 0.9992053 ]

14. Stwórz 10-elementowy wektor z wartościami od 0 do 1, mającymi równe odstępy

In [53]:
np.linspace(0,1,10)

array([0.        , 0.11111111, 0.22222222, 0.33333333, 0.44444444,
       0.55555556, 0.66666667, 0.77777778, 0.88888889, 1.        ])

15. Stwórz losowy wektor składający się z miliona elementów, i porównaj czas wykonywania operacji podniesienia do sześcianu różnymi metodami.

In [54]:
import numpy as np

x = np.random.rand(1000000)
%timeit np.power(x, 3)
%timeit x*x*x

28.1 ms ± 74.9 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
6.98 ms ± 63.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

## Pandas

Będziemy pracować na ramce danych (pandas.DataFrame):

In [55]:
dane = {
    'gender': ['m'] * 5 + ['f'] * 5,
    'age': [23, 24, 25, 28, 32, 54, 21, np.nan, 45, np.nan],
    'earnings': [2500, np.nan, 2700, 3400, 2500, 2900, 4300, 3400, 3250, 1100]
}
indeks = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

16. Stwórz ramkę danych, w której dane będą zasilone słownikiem 'dane', a indeksy wierszy to lista 'indeks'

In [56]:
frame = pd.DataFrame(dane, index=indeks)

17. Wyświetl typy zmiennych w ramce

In [59]:
frame.dtypes

gender       object
age         float64
earnings    float64
dtype: object

In [60]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 3 columns):
gender      10 non-null object
age         8 non-null float64
earnings    9 non-null float64
dtypes: float64(2), object(1)
memory usage: 320.0+ bytes

18. Wyświetl podstawowe statystyki opisowe za pomocą odpowiedniej metody

In [61]:
frame.describe()

             age     earnings
count   8.000000     9.000000
mean   31.500000  2894.444444
std    11.844227   879.077800
min    21.000000  1100.000000
25%    23.750000  2500.000000
50%    26.500000  2900.000000
75%    35.250000  3400.000000
max    54.000000  4300.000000

19. Wyświetl pierwsze dwie obserwacje z ramki (dwoma sposobami)

In [62]:
frame.head(2)
frame.iloc[0:2,]

  gender   age  earnings
a      m  23.0    2500.0
b      m  24.0       NaN

20. Wyświetl trzy ostatnie obserwacje z podanej ramki (dwoma sposobami)

In [64]:
frame.tail(3)
frame.iloc[-3:,]

  gender   age  earnings
h      f   NaN    3400.0
i      f  45.0    3250.0
j      f   NaN    1100.0

21. Wyświetl kolumnę 'age' i 'earnings'

In [66]:
frame.loc[:,['age','earnings']] # or
frame[['age', 'earnings']]

    age  earnings
a  23.0    2500.0
b  24.0       NaN
c  25.0    2700.0
d  28.0    3400.0
e  32.0    2500.0
f  54.0    2900.0
g  21.0    4300.0
h   NaN    3400.0
i  45.0    3250.0
j   NaN    1100.0

22. Wyświetl ramkę zawierającą obserwacje nr 1,3,5 z kolumn 'gender' i 'earnings'

In [68]:
frame.iloc[[1,3,5]].loc[:,['gender', 'earnings']]

  gender  earnings
b      m       NaN
d      m    3400.0
f      f    2900.0

23. Wyświetl obserwacje, w których zarobki są niższe od 3000

In [70]:
frame[frame['earnings'] < 3000]

  gender   age  earnings
a      m  23.0    2500.0
c      m  25.0    2700.0
e      m  32.0    2500.0
f      f  54.0    2900.0
j      f   NaN    1100.0

24. Wyświetl obserwacje, w których znajdują się  braki danych

In [73]:
frame[frame.isnull().any(axis=1)]

  gender   age  earnings
b      m  24.0       NaN
h      f   NaN    3400.0
j      f   NaN    1100.0

25. Wyświetl obserwacje, w których nie znajdują się żadne braki danych

In [74]:
frame[~frame.isnull().any(axis=1)]

  gender   age  earnings
a      m  23.0    2500.0
c      m  25.0    2700.0
d      m  28.0    3400.0
e      m  32.0    2500.0
f      f  54.0    2900.0
g      f  21.0    4300.0
i      f  45.0    3250.0

26. Wyświetl obserwacje, gdzie wiek jest niższy od 30, zarobki wyższe od 3000

In [75]:
frame[(frame['age'] < 30) & (frame['earnings'] > 3000)]

# more inspiration for SQL-like queries: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html

  gender   age  earnings
d      m  28.0    3400.0
g      f  21.0    4300.0

27. Wyświetl obserwacje, w których wiek znajduje się w przedziale [20;25]

In [77]:
frame[frame['age'].between(20,25)]

  gender   age  earnings
a      m  23.0    2500.0
b      m  24.0       NaN
c      m  25.0    2700.0
g      f  21.0    4300.0

28. Dodaj nowy wiersz o indeksie 'k' ['f',28, 3300]

In [78]:
frame.loc['k'] = ['f',28,3300]

29. Usuń wiersz 'j' z ramki

In [79]:
frame.drop('j', axis=0, inplace=True) # or:
frame = frame.drop('j', axis=0)

30. Oblicz średnie wynagrodzenie w tym zbiorze

In [80]:
frame['earnings'].mean()

3138.8888888888887

31. Oblicz średnie wynagrodzenie wg płci

In [83]:
frame.groupby('gender').mean().loc[:,['earnings']]

        earnings
gender
f         3430.0
m         2775.0

32. Posortuj ramkę względem wieku malejąco

In [84]:
frame.sort_values(by='age',ascending=False)

  gender   age  earnings
f      f  54.0    2900.0
i      f  45.0    3250.0
e      m  32.0    2500.0
d      m  28.0    3400.0
k      f  28.0    3300.0
c      m  25.0    2700.0
b      m  24.0       NaN
a      m  23.0    2500.0
g      f  21.0    4300.0
h      f   NaN    3400.0

33. Zamień w pierwszej kolumnie wszystkie wartości 'f' na 'female', a 'm' na 'male'

In [85]:
frame['gender'] = frame['gender'].replace({'f': 'female', 'm': 'male'})

34. Wskaż ile jest osób z podziałem na płeć w tym zbiorze

In [88]:
frame.groupby('gender').count() # non-nulls

frame.fillna(-1).groupby('gender').count()

        age  earnings
gender
female    5         5
male      5         5

35. Dla każdej płci wskaż średnie zarobki, i średni wiek

In [89]:
frame.groupby('gender').mean()

         age  earnings
gender
female  37.0    3430.0
male    26.4    2775.0